error parsing header "Record-Route"

Hello sip.js team,

I am trying to use you lib with project clearwater and I am getting the error below on the following Record-Route header:

sip:scscf.192.168.17.144:5054;transport=tcp;lr;service=scscf;billing-role=charge-term

This is the complete log of SIP.js, after I put a 

`console.info('parsing record-route: ' + headerValue);`

in line 88 of Parser.js:

Tue Apr 26 2016 17:04:16 GMT-0300 (BRT) | sip.transport | received WebSocket text message:

MESSAGE sip:aas5u4k4@c7frg7sndufm.invalid;transport=ws SIP/2.0
Via: SIP/2.0/WS 192.168.17.144:5062;rport;branch=z9hG4bKPjikUMTZIsF.93YCZl0ECIM7wAa6BemNuD
Record-Route: sip:2x1mBRkkY9@192.168.17.144:5062;transport=WS;lr
Record-Route: sip:192.168.17.144:5058;transport=TCP;lr
Via: SIP/2.0/TCP 192.168.17.144:52426;rport=52426;received=192.168.17.144;branch=z9hG4bKPjXrDZ69Bd3tkcLE4BiR70jdZz5cvIjpw0
Record-Route: sip:scscf.192.168.17.144:5054;transport=tcp;lr;service=scscf;billing-role=charge-term
Record-Route: sip:scscf.192.168.17.144:5054;transport=tcp;lr;service=scscf;billing-role=charge-orig
Via: SIP/2.0/TCP 192.168.17.144:56894;rport=56894;received=192.168.17.144;branch=z9hG4bKPjinrnw7-K5wqveAZMqCXW1ZHwiP0yGaQZ
Record-Route: sip:192.168.17.144:5058;transport=TCP;lr
Record-Route: sip:C408IsYAa8@192.168.17.144:5062;transport=WS;lr
Via: SIP/2.0/WSS 8lo6etjnu2qq.invalid;received=192.168.17.127;branch=z9hG4bK9017497
Max-Forwards: 68
To: sip:6505550178@example.com
From: sip:571f9b5f6cf57d151a571f78@example.com;tag=0d7jli2pd8
Call-ID: pr7o4267mkda9aat87dl
CSeq: 9155 MESSAGE
Jitsi-Conference-Room: 1904984101
Display-Name: Mr A
Supported: outbound
User-Agent: SIP.js/0.7.3
P-Asserted-Identity: sip:571f9b5f6cf57d151a571f78@example.com
P-Called-Party-ID: sip:6505550178@example.com
Content-Type: text/plain
Content-Length:    36

{"operation":"JOIN","hasVideo":true}

parsing record-route: sip:2x1mBRkkY9@192.168.17.144:5062;transport=WS;lr
parsing record-route: sip:192.168.17.144:5058;transport=TCP;lr
parsing record-route: sip:scscf.192.168.17.144:5054;transport=tcp;lr;service=scscf;billing-role=charge-term
Tue Apr 26 2016 17:04:16 GMT-0300 (BRT) | sip.parser | error parsing header "Record-Route"

I would be great if you can tell me what is going on, because I could not understand your Grammar.pegjs file.

Please let me know if this is a bug for you, or just an issue in my side.

Thank you very much!


Hi @jmcoimbra,
  I don't have time at the moment to delve too deeply into this, but I will say the the record route it fails on (sip:scscf.192.168.17.144:5054;transport=tcp;lr;service=scscf;billing-role=charge-term) looks... weird (specifically, the scscf bit). I'm not sure if it's legal or not, but that can be determined in [RFC 3261 section 19.1.1](https://tools.ietf.org/html/rfc3261#section-19.1.1).  The general rule for record-routes (found in section 16.6):

> The URI placed in the Record-Route header field value MUST be a
         SIP or SIPS URI.  This URI MUST contain an lr parameter (see
         Section 19.1.1).  This URI MAY be different for each
         destination the request is forwarded to.  The URI SHOULD NOT
         contain the transport parameter unless the proxy has knowledge
         (such as in a private network) that the next downstream element
         that will be in the path of subsequent requests supports that
         transport.

So the problem is either that we are too restrictive in our record-route/SIP-SIPS URI handling, or that record-route is illegal. I'm posting this information here so others can reach that conclusion, but if nobody does I will follow up when time permits.

Thanks,
James

Hi @james-criscuolo,

Thanks for this clarification, I will check this RFC. If I get any conclusions, I will post.

I know this is two years old, but that URI does not follow the BNF for `SIP-URI`:

`SIP-URI = "sip:" [ userinfo ] hostport`

If `userinfo` is present, it must end with a `@`, which does not appear in the logs provided, so this appears to be an invalid RR header.

The header...

`Record-Route: sip:scscf.192.168.17.144:5054;transport=tcp;lr;service=scscf;billing-role=charge-term`

...has the following URI...

`sip:scscf.192.168.17.144:5054;transport=tcp;lr;service=scscf;billing-role=charge-term`

...which is invalid.

Specifically, `scscf.192.168.17.144` is the issue... Perhaps the intention was..

`sip:scscf@192.168.17.144`

... or just ...

`sip:192.168.17.144`
