Call Dropping after 60 Seconds on 0.7.2 (Upgraded from 0.7.0)

We have calls dropping after 60 seconds after upgrading to 0.7.2 from 0.7.0. It seems to be related to session timers. Can you help us understand why this is happening now and any potential solutions?

+1

Can you provide [Gists](https://gist.github.com/) of your SIP.js logs and FreeSWITCH logs?

Freeswitch is returning a "500" when the call dies from the Sip.js side. I'll try to get some logs, but we'll need to set up a test environment for this first.

Here is the GIST from the Sip.js side:
https://gist.github.com/lylepratt/50e9b645b7ab47c58270

One thing that was RED in javascript console after turning log level to debug: 
`Tue Dec 08 2015 12:34:51 GMT-0600 (CST) | sip.invitecontext.mediahandler | 6hili6vcbbfsf3cl8113scasefacqp | Failed to set local answer sdp: Failed to push down transport description: Offerer must use actpass value for setup attribute.`

After browsing through https://github.com/onsip/SIP.js/compare/0.7.0...0.7.2, I'm guessing this might have something to do with https://github.com/onsip/SIP.js/commit/bd5c3b21db50c33036c9b229b1581ea7a327d45e (proposed in #170 to fix #168)

Yes it appears that that is the change which is causing this.

I dug into this one for a while, and I think I've gotten down to the root causes of it. Here's what I've come up with:

Before bd5c3b21db50c33036c9b229b1581ea7a327d45e, sip.js would automatically reply with a 488, which freeswitch interpreted as allowing the session to continue, in accordance with [page 16 of RFC 3261](https://tools.ietf.org/html/rfc3261#page-16):

>    During the session, either Alice or Bob may decide to change the
   characteristics of the media session.  This is accomplished by
   sending a re-INVITE containing a new media description.  This re-
   INVITE references the existing dialog so that the other party knows
   that it is to modify an existing session instead of establishing a
   new session.  The other party sends a 200 (OK) to accept the change.
   The requestor responds to the 200 (OK) with an ACK.  If the other
   party does not accept the change, he sends an error response such as
   488 (Not Acceptable Here), which also receives an ACK.  However, the
   failure of the re-INVITE does not cause the existing call to fail -
   the session continues using the previously negotiated
   characteristics.  Full details on session modification are in Section
   14.

After bd5c3b21db50c33036c9b229b1581ea7a327d45e, sip.js tries to apply the SDP in the re-INVITE to the PeerConnection, but the application fails due to the [`a=setup:active` line](https://gist.github.com/lylepratt/50e9b645b7ab47c58270#file-bv-dropped-60-second-sip-js-0-7-2-log-L982), and sip.js replies with a [500](https://gist.github.com/lylepratt/50e9b645b7ab47c58270#file-bv-dropped-60-second-sip-js-0-7-2-log-L1013-L1021), which freeswitch appears to interpret as ending the call entirely (this seems wrong to me, given the RFC quote above, but I haven't researched it further).

I think that sip.js fails to apply the SDP to the PeerConnection because the SDP is not identical between the [original answer](https://gist.github.com/lylepratt/50e9b645b7ab47c58270#file-bv-dropped-60-second-sip-js-0-7-2-log-L844-L860) and the SDP in the [re-INVITE](https://gist.github.com/lylepratt/50e9b645b7ab47c58270#file-bv-dropped-60-second-sip-js-0-7-2-log-L971-L987) (see the top/bottom lines of the ranges I linked). Furthermore, the presence of SDP in a re-INVITE suggests that it is an offer anyway, according to [page 4 of RFC 6141](https://tools.ietf.org/html/rfc6141#page-4):

>    A re-INVITE transaction has an offer/answer [RFC3264] exchange
   associated with it.  The UAC (User Agent Client) generating a given
   re-INVITE can act as the offerer or as the answerer.  A UAC willing
   to act as the offerer includes an offer in the re-INVITE.  The UAS
   (User Agent Server) then provides an answer in a response to the
   re-INVITE.  A UAC willing to act as answerer does not include an
   offer in the re-INVITE.  The UAS then provides an offer in a response
   to the re-INVITE becoming, thus, the offerer.

Note that `a=setup:active` is forbidden in offers, according to [page 10 of RFC 5743](https://tools.ietf.org/html/rfc5763#page-10):

>    The offer and answer MUST conform to the following requirements.

>   *  The endpoint MUST use the setup attribute defined in [RFC4145].
      The endpoint that is the offerer MUST use the setup attribute
      value of setup:actpass and be prepared to receive a client_hello
      before it receives the answer.  The answerer MUST use either a
      setup attribute value of setup:active or setup:passive.  Note that
      if the answerer uses setup:passive, then the DTLS handshake will
      not begin until the answerer is received, which adds additional
      latency. setup:active allows the answer and the DTLS handshake to
      occur in parallel.  Thus, setup:active is RECOMMENDED.  Whichever
      party is active MUST initiate a DTLS handshake by sending a
      ClientHello over each flow (host/port quartet).

As a side note, even if freeswitch had been the original offerer, it should still take care not to modify the SDP sent in the re-invite, according to [page 12 of RFC 4028](https://tools.ietf.org/html/rfc4028#page-12):

>    A re-INVITE generated to refresh the session is a normal re-INVITE,
   and an UPDATE generated to refresh a session is a normal UPDATE.  If
   a UAC knows that its peer supports the UPDATE method, it is
   RECOMMENDED that UPDATE be used instead of a re-INVITE.  A UA can
   make this determination if it has seen an Allow header field from its
   peer with the value 'UPDATE', or through a mid-dialog OPTIONS
   request.  It is RECOMMENDED that the UPDATE request not contain an
   offer [4], but a re-INVITE SHOULD contain one, even if the details of
   the session have not changed.  In that case, the offer MUST indicate
   that it has not changed.  In the case of SDP, this is accomplished by
   including the same value for the origin field as did previous SDP
   messages to its peer.  The same is true for an answer exchanged as a
   result of a session refresh request; if it has not changed, that MUST
   be indicated.

@josephfrazier and I were talking about this some more this morning, and we both agree FreeSWITCH is in the wrong here. Our recommendation is to [disable session timers on FS]( http://lists.freeswitch.org/pipermail/freeswitch-users/2010-April/055759.html). Note that the default value is 120 (seconds) and that sofia by default will send a re-invite once it reaches half of that time, which is why you are seeing the re-invite at 60 seconds. 

Idealistically we are against adding a specific hack to override this behavior. Everything on the SIP.js side is working as we would expect it to. However, with SIP, we understand that different endpoints behave differently and a hack might be necessary. If there is strong demand for an option on the UA to disable re-invites we would consider adding it.

Another potential fix on the SIP.js side that you could implement yourself is to override the [media handler](http://sipjs.com/api/0.7.0/mediaHandler/). You would just have to change it so that when the browser returns a `SIP.Exceptions.GetDescriptionError` you change it to any other error (See [session.js ~596](https://github.com/onsip/SIP.js/blob/7e7df079b8f914dfff259ea0c03830bea565033e/src/Session.js#L596)).

Are you sure the default is 120 seconds? Doesn't this say the default is 30 minutes? https://wiki.freeswitch.org/wiki/Sofia.conf.xml#session-timeout

I will check what ours is set to.

We've been thinking about this, and don't really think disabling session timers is a good "solution". We have other endpoints (other than SIP.js) connecting to our registration servers that can use session timers. Also, it seems that a large portion of people will be using SIP.js with FreeSWITCH. It is my opinion that there should be some kind of flag to disable re-invites and revert back to how it worked on 0.7.0.

Thoughts?

-Lyle

Perhaps a new config option "session-update=>[ignore|reject]" ?

That would be good in my opinion

I was able to reproduce locally with only 2 modifications to vanilla config. We are investigating options, stay tuned.

```
<param name="enable-timer" value="true"/>
<param name="session-timeout" value="120"/>
```
Dial 9198 from sipjs demo-phone, listen to the catchy tunes, and wait.

Cool. Thanks for your diligence!

I also faced this issue yesterday. The call really hung up after 60 sec, not 120. Also fixed this disabling session-timer. I am curretly on FS 1.6.2.
This was fixed in FS in 1.6.5/1.7. See https://freeswitch.org/jira/si/jira.issueviews:issue-html/FS-8115/FS-8115.html 

Wow. Good to know Freeswitch fixed it on their side. Sincere apologies @josephfrazier. I looked through the Freeswitch issues but didn't see anything related. I wish I would have caught it before bugging you guys about overriding it in Sip.js.

Thanks for all the work everyone. I am going to close this issue now.

> Sincere apologies @josephfrazier. I looked through the Freeswitch issues but didn't see anything related. I wish I would have caught it before bugging you guys about overriding it in Sip.js.

It's all good @lylepratt. This actually gave me an opportunity to learn a thing or two about sip.js error handling in this scenario. Specifically, the `a=setup:active` line in the re-INVITE triggered a error in [`getDescription`](https://github.com/onsip/SIP.js/blob/362218823d6578243645279ee8885168121ae7c4/src/Session.js#L576) (which explains the [500](https://github.com/onsip/SIP.js/blob/362218823d6578243645279ee8885168121ae7c4/src/Session.js#L597) that was sent back), whereas I was expecting the error to occur during [`setDescription`](https://github.com/onsip/SIP.js/blob/362218823d6578243645279ee8885168121ae7c4/src/Session.js#L575) (which would have caused a [488](https://github.com/onsip/SIP.js/blob/362218823d6578243645279ee8885168121ae7c4/src/Session.js#L600) response). I'm still not sure why it's happening this way (WebRTC is a fickle beast), but I'm glad the issue got sorted out regardless.