'Request-URI does not point to us' on received ACK message

I've been trying to establish the call between two SIP.js 0.7.1 clients. The receiving party received ACK message:

```
ACK sip:192.168.252.145:54699;transport=ws SIP/2.0
Call-ID: 83c74f27e373fe8405cdbf95c02c451e@192.168.252.120
CSeq: 7708 ACK
From: <sip:username.1@username.local>;tag=42217556_8c435e91_c71fdaf2_379fba06
To: <sip:username.2@username.local>;tag=82h8lq79sa
Max-Forwards: 70
Via: SIP/2.0/WS 192.168.252.120:5062;branch=z9hG4bK379fba06_c71fdaf2_2d50e139-d73c-4049-b0c1-89a2777d04d9
Content-Length: 0
```

... which caused an error: 'Request-URI does not point to us'. (Then the same ACK was received raising the same error and so on.) While the parties can see and here each other, the connection was terminated after a timeout.

[This check](https://github.com/onsip/SIP.js/blob/master/src/UA.js#L592-L602) failed because `request.ruri.user` was undefined. This caused by the first line, `sip:192.168.252.145:54699;transport=ws` indeed doesn't contain a username, but this message exactly matches the one that calling party have send, so I suspect this is a bug.

It's very strange if that RURI is coming out of a SIP.js client.  That should be based on either the Contact or From address in the original INVITE, neither of which would look like that ip:port combo.  Can you post an example of the INVITE and 200 OK alongside the ACK, for comparison?

Also, please confirm that the RURI looks like that on its way out of the other SIP.js client and on the way into this one, and confirm that no SIP proxy or back-to-back UA in the middle is mangling it.

Yes, it comes from Contact field, which I believe is substituted on the server (a proprietary one). Server developer claims that "when the client finds out the address from the contact, it uses it in Request URI to send requests directly, bypassing the registrar [,] it's common SIP practice" and links to http://tools.ietf.org/html/rfc3261#section-24.2. It looks like SIP.js doesn't handle this case well.

IMO, since an address w/o the username is still [valid SIP URI](http://tools.ietf.org/html/rfc3261#section-19.1.1), it should not be dropped like it currently does.

INVITE sent:

```
INVITE sip:username.2@username.local SIP/2.0
Via: SIP/2.0/WS 192.0.2.183;branch=z9hG4bK5974701
Max-Forwards: 70
To: <sip:username.2@username.local>
From: <sip:username.1@username.local>;tag=smedmelfbm
Call-ID: 6f2n48le65i1fg1u6jqa
CSeq: 3372 INVITE
Contact: <sip:kbscnru7@192.0.2.183;transport=ws;ob>
Allow: ACK,CANCEL,BYE,OPTIONS,INFO,NOTIFY,INVITE
Content-Type: application/sdp
Supported: outbound
User-Agent: SIP.js/0.7.1
Content-Length: 2703

<sdp>
```

INVITE received:

```
INVITE sip:3ohte45o@192.0.2.131:63814;transport=ws SIP/2.0
Max-Forwards: 69
To: <sip:username.2@username.local>
From: <sip:username.1@username.local>;tag=43024555_fd92c8cd_c71fdaf2_72bc3daa
CSeq: 3372 INVITE
Allow: ACK,CANCEL,BYE,OPTIONS,INFO,NOTIFY,INVITE,REFER
Content-Type: application/sdp
Supported: outbound
User-Agent: SIP.js/0.7.1
Call-ID: e2e9cad7b988669785983e9f947154b6@192.168.252.120
Via: SIP/2.0/WS 192.168.252.120:5062;branch=z9hG4bK72bc3daa_c71fdaf2_882e65e5-2520-4540-be63-216e45fcc99f
Contact: <sip:username.1@192.168.252.120:5062;transport=ws>
Route: <sip:192.168.252.145:63814;transport=ws;lr>
Content-Length: 2703

<sdp>
```

200 sent:

```
SIP/2.0 200 OK
Via: SIP/2.0/WS 192.168.252.120:5062;branch=z9hG4bK72bc3daa_c71fdaf2_882e65e5-2520-4540-be63-216e45fcc99f
To: <sip:username.2@username.local>;tag=67ntnrd8cb
From: <sip:username.1@username.local>;tag=43024555_fd92c8cd_c71fdaf2_72bc3daa
Call-ID: e2e9cad7b988669785983e9f947154b6@192.168.252.120
CSeq: 3372 INVITE
Contact: <sip:3ohte45o@192.0.2.131;transport=ws>
Allow: ACK,CANCEL,BYE,OPTIONS,INFO,NOTIFY,INVITE
Supported: outbound
User-Agent: SIP.js/0.7.1
Content-Type: application/sdp
Content-Length: 1489

 <sdp>
```

200 received:

```
SIP/2.0 200 OK
CSeq: 3372 INVITE
Call-ID: 6f2n48le65i1fg1u6jqa
From: <sip:username.1@username.local>;tag=smedmelfbm
To: <sip:username.2@username.local>;tag=60694866_fd92c8cd_c71fdaf2_72bc3daa
Via: SIP/2.0/WS 192.0.2.183;branch=z9hG4bK5974701;received=192.168.252.145;rport=63810
Contact: <sip:192.168.252.120:5062;transport=ws>
Allow: ACK,CANCEL,BYE,OPTIONS,INFO,NOTIFY,INVITE,REFER
Supported: outbound
User-Agent: SIP.js/0.7.1
Avistar-Call-Control-Recipient-URI: sip:3ohte45o@192.0.2.131:63814;transport=ws
Content-Type: application/sdp
Content-Length: 1489

<sdp>
```

Yes, it does look like the Contact is substituted on the server between sending and receiving the INVITE and 200 OK.  This is the source of the problem and is not RFC compliant. [RFC 3261 Section 16.6](https://tools.ietf.org/html/rfc3261#page-100) describes the steps that a proxy takes on forwarding a request.  It specifically notes:

> The proxy starts with a copy of the received request.  The copy
>         MUST initially contain all of the header fields from the
>         received request.  Fields not detailed in the processing
>         described below MUST NOT be removed.

At no point further down in the steps does it describe removing or modifying the Contact header.

Further, filtering requests based on our Contact is defined behavior in the RFC ([Section 8.2.2.1](https://tools.ietf.org/html/rfc3261#section-8.2.2.1)):

> If the Request-URI does not identify an address that the
>   UAS is willing to accept requests for, it SHOULD reject the request
>   with a 404 (Not Found) response.  Typically, a UA that uses the
>   REGISTER method to bind its address-of-record to a specific contact
>   address will see requests whose Request-URI equals that contact
>   address.  Other potential sources of received Request-URIs include
>   the Contact header fields of requests and responses sent by the UA
>   that establish or refresh dialogs.

This paragraph is in contrast with that examining the 'To' header, which it recommends the UA ignore when determining whether to accept or reject requests.

Is there any way you can prevent your proprietary server from breaking the Contact mid-route?

Ok, we'll try to fix this in the server code. Thanks for collaboration, consider issue closed.