Allow REFER to non-SIP resources

See the http example in [Section 2.1 of RFC 3515](http://tools.ietf.org/html/rfc3515#section-2.1):

```
Refer-To: http://www.ietf.org
```

However, attempting to send such a REFER by calling `session.refer('http://www.ietf.org')` throws a `TypeError` [when the target fails to normalize to a SIP(S) URI](https://github.com/onsip/SIP.js/blob/79a141b4a2e977104e4d7d0bf989b350de1ea990/src/Session.js#L260-L263).

Also, receiving such a REFER would also fail because [the grammar currently does not parse non-SIP URIs in the Refer-To header](https://github.com/onsip/SIP.js/blob/79a141b4a2e977104e4d7d0bf989b350de1ea990/src/Grammar/src/Grammar.pegjs#L674).
