SUBSCRIBE refresh requests do not contain a To tag

According to [RFC 6665 Section 4.1.2.2](http://tools.ietf.org/html/rfc6665#section-4.1.2.2) (emphasis mine):

>    At any time before a subscription expires, the subscriber may refresh
   the timer on such a subscription by sending another SUBSCRIBE request
   **on the same dialog** as the existing subscription.  The handling for
   such a request is the same as for the initial creation of a
   subscription except as described below.

However, a SIP.js `Subscription` refreshes itself by calling its `subscribe` method, as seen on lines [94](https://github.com/onsip/SIP.js/blob/9ed72b5d739de6e3305ef523b00769da72ed4eeb/src/Subscription.js#L94) and [199](https://github.com/onsip/SIP.js/blob/9ed72b5d739de6e3305ef523b00769da72ed4eeb/src/Subscription.js#L199) of Subscription.js. Since the [subscribe method](https://github.com/onsip/SIP.js/blob/9ed72b5d739de6e3305ef523b00769da72ed4eeb/src/Subscription.js#L62-L74) simply [(re)sends](https://github.com/onsip/SIP.js/blob/9ed72b5d739de6e3305ef523b00769da72ed4eeb/src/ClientContext.js#L55-L58) the initial SUBSCRIBE [request](https://github.com/onsip/SIP.js/blob/9ed72b5d739de6e3305ef523b00769da72ed4eeb/src/ClientContext.js#L40), it does not contain a [To tag](https://github.com/onsip/SIP.js/blob/9ed72b5d739de6e3305ef523b00769da72ed4eeb/src/SIPMessage.js#L67), but it should according to [RFC 3261 Section 12.2.1.1](http://tools.ietf.org/html/rfc3261#section-12.2.1.1) (emphasis mine):

>    The URI in the To field of the request MUST be set to the remote URI
   from the dialog state.  **The tag in the To header field of the request
   MUST be set to the remote tag of the dialog ID.**  The From URI of the
   request MUST be set to the local URI from the dialog state.  The tag
   in the From header field of the request MUST be set to the local tag
   of the dialog ID.  If the value of the remote or local tags is null,
   the tag parameter MUST be omitted from the To or From header fields,
   respectively.

This can be demonstrated by using code from #86 to create a UA with `traceSip:true`, calling `UA#subscribe` with a small value for the `expires` option, and observing the resulting SUBSCRIBE requests. Notice that the refresh requests actually create separate subscriptions, which explains why [they have different ids](https://groups.google.com/d/msg/sip_js/TshLqnjmjKY/fD3Zk_EqK_MJ) in [`Subscription#receiveResponse`](https://github.com/onsip/SIP.js/blob/9ed72b5d739de6e3305ef523b00769da72ed4eeb/src/Subscription.js#L87).

Fixed in f80adf8