Refactor hold/resume code to live in MediaHandler

Hi.

Still not quite there with making a pull request for our solution to reINVITE, but one thing we have discovered along the way is that the current handling of hold/resume is pretty messy.

I suggest moving all mangling/munging of the sdp to the mediahandler.

On setDescription it is very easy to store the SDP and inspect what changed if anything changed at all.

We can roll this into our new-mediahandler-per-transaction (if something changed that required an actual reINVITE or a handling of a reINVITE) way of doing things if the development team approves.


Moving SDP mangling out of the Session sounds good.  One of the MediaHandler's main roles is to take the knowledge of SDP away from the Session.  Not only should the MediaHandler be able to use a different backend, which may not need mangling, but it should also be free to specify a completely different content type for session description.

I'm not sure how tightly couple this would be to your MediaHandler-per-transaction work.  This would certainly be a smaller change, overall, and could be added or merged more quickly than the larger branch.

@wakamoleguy I totally agree with

> Not only should the MediaHandler be able to use a different backend, which may not need mangling, but it should also be free to specify a completely different content type for session description.

I am currently looking at some "mixed/multipart" use cases described in [RFC 5261, Section 4.1](https://tools.ietf.org/html/rfc5621#section-4.1), and moving the message handling from `Session`—specifically the Content-Type header checks and `.body` accesses—into the `MediaHandler` would be a big win.

I think there may also be some interesting use cases for ORTC applications that do not natively support SDP. For example, once the `MediaHandler` takes over more of the description handling, an application could specify some JSON blob instead of SDP or use "multipart/alternative": 

> The transition from SDP to new session description protocols could be
> implemented using 'multipart/alternative' bodies.  SIP messages
> (e.g., INVITE requests) could carry a 'multipart/alternative' body
> with two body parts: a session description written in SDP and a
> session description written in a newer session description format.
> Legacy recipient UAs would use the session description written in
> SDP.  New recipient UAs would use the one written in the newer
> format.

Where is this on the SIP.js roadmap? Glancing over the code, it seems like step 1 could be to change the signature for `setDescription` to accept a `SIPMessage` and to add a method to get a description from a `SIPMessage`. The `getDescription` name is already taken, so maybe `getDescriptionFromMessage`?

I think that this was sufficiently covered in #231. Going to close it, please re-open if there is anything outstanding.