Wrong contact select with ICE.

Hello!
I test sip.js demo phone with my Freeswitch server.
When I call to sip.js phone, Freeswitch send BYE, because can't send media to 192.0.2.xxx IP address.

Log here:
https://gist.github.com/nnovikov/3a878ad2eed40e204f6a

The log does not indicate that FS cannot send media to 192 address. You need the FS logs to see why it is sending BYE. Either way this is a FreeSWITCH issue and not an issue with SIP.js. Please take a look at our [FreeSWITCH Guide](http://sipjs.com/guides/server-configuration/freeswitch/) and if you have any further questions about it, follow up with [FreeSWITCH](https://freeswitch.org/) or on our [mailing list](https://groups.google.com/forum/#!forum/sip_js). Thanks.

Freeswitch can't send media because host dosn't have route to 192.0.2.0/24 subnet. In log you can look at 'Reason: Q.850;cause=27;text="DESTINATION_OUT_OF_ORDER"' string in BYE message


Freeswitch will determine that it cannot route to that candidate and move on to another candidate in the ICE process. Please follow up on our [mailing list](https://groups.google.com/forum/#!forum/sip_js) with a [gist](https://gist.github.com/) of Freeswitch logs for further help. 

It`d be interesting to understand the point generating an invalid/reserved address such as the one above and send it through in the SDP.

To me it only seems to be confusing and causing debugging headaches.

It all comes from SIP.Utils.getRandomTestNetIP(), so It`s SIP.js and it`s doing it on purpose. It`s not FreeSWITCH.

Would it not make more sense just refusing to send an INVITE if there are issues determining the current IP?

RFC5735 and RFC6890 seem to state clearly that 192.0.2.x is reserved for example code and documentation, so it shouldn`t be used at all by SIP.js, right?


The code actually has a good explanation of why we're doing this.  From Hacks.js:
~~~
hasIncompatibleCLineWithSomeSIPEndpoints: function(sdp) {
  /*
   * Firefox appears to be following https://tools.ietf.org/html/rfc5245#section-9.1.1.1
   * and using a c line IP address of 0.0.0.0. This is completely valid, however it is
   * causing some endpoints (such as FreeSWITCH) to interpret the SDP as being on hold
   * https://freeswitch.org/jira/browse/FS-6955. To get around this issue we pull the
   * replace the c line with 1.1.1.1 which SIP clients do not interpret as old.
   * This makes the other endpoint believe that the call is not on hold and audio flows
   * because ICE determines the media pathway (not the cline).
   */
  return sdp.replace(/(0\.0\.0\.0)/gmi, SIP.Utils.getRandomTestNetIP());
}
~~~

This was added at some point a while back.  Firefox has long since fixed the issue, and so the hack can be removed.

It's interesting that it is causing problems.  Keeping up with SDP standards is relatively difficult, and so I didn't actually know the details of `ice-mismatch`.  We certainly had fewer problems with the test IP address than with `0.0.0.0`.  I suppose that's because running into an ice-mismatch in the SDP answer results in an undefined scenario per RFC 5245.

I also suspect we would have run into more issues if JavaScript WebRTC endpoints (i.e., all browsers) weren't forced to ignore the `c=` line altogether.  From [JSEP draft 12, Section 5.6.1](https://tools.ietf.org/html/draft-ietf-rtcweb-jsep-12#section-5.6.1):

> The "c=" line MUST be checked for syntax but its value is not
>      used.  This supersedes the guidance in [RFC5245], Section 6.1, to
>      use "ice-mismatch" to indicate mismatches between "c=" and the
>      candidate lines; because JSEP always uses ICE, "ice-mismatch" is
>      not useful in this context.

Anyways, we should remove the hack and then I think everything will be hunky-dory.

I removed this and tested, Firefox only inserts 0.0.0.0 in it's o-line, which is insignficant, so the hack was safely removed.